<section class="container box-shadow">
  <form action="/admin/filter-by-status" method="GET">
    <button type="submit">filter by status</button>
  </form>





  <h1 class="text-center">Admin tickets</h1>

  {{#each tickets}}
  {{#if active}}


  <a href=/admin/tickets/{{id}}>View ticket</a> <strong>this ticket need answer</strong>
    <form action="/admin/active-false" method="POST">
      <input type="text" value={{_id}} name="_id">
      <button type="submit">make active false</button>
    </form>

    {{else}}

    <h3>{{title}}</h3>
    <a href=/admin/tickets/{{id}}>View ticket</a> <strong>Ticket ok</strong>
      <form action="/admin/active-true" method="POST">
        <input hidden type="text" value={{_id}} name="_id">
        <button type="submit">make active true!</button>
      </form>
  
      {{/if}}
      {{/each}}



    


</section>


  {{!-- <h2>tickets by author</h2>
      <ul>
        {{#each tickets}}
        <li><a href="/admin/filter-by-author/{{author}}">{{author}} tickets</a> </li>
        {{/each}}
      </ul> --}}
