<h1>{{ticket.title}}
</h1>
<p>{{ticket.message}}</p> 
<p>{{ticket.time}}</p>
<img src="{{ ticket.picture.path }}" width="150px"></img>

{{#each ticket.answers}}
 <strong>{{username}}</strong> <span>{{time}}</span>
  <p>{{message}}</p> 
  
  
{{/each}}
<hr>

<form action="/admin/answer" method="POST">
answer
<input hidden value={{ticket._id}} name="_id">

<input type="text" name="message">
<button>Add answer</button>
</form>

