{{> headerAdmin}}

<section class="container box-shadow user-ticket-page">
  <h1 class="text-center">{{ticket.title}}</h1>
  <hr>
  <div class="user-ticket-container">
    <p><strong>{{ticket.author}}</strong></p>
    <span>{{ticket.time}}</span>
    <p>{{ticket.message}}</p>

    {{#if ticket.picture.path}}
    <a href="{{ ticket.picture.path }}" download>
      <img src="{{ ticket.picture.path }}" width="150">
    </a>
    {{/if}}

    <hr>
    {{!-- ANSWERS --}}
    {{#each ticket.answers}}
    <p><strong>{{username}}</strong></p><span>{{time}}</span>
    <p>{{message}}</p>

    {{#if picture.path}}
     <a href="{{ picture.path }}" download>
      <img src="{{ picture.path }}" width="150">
    </a>
    <p>{{picture.name}}</p>
    {{/if}}
    <hr>

    {{/each}}
  </div>
  <hr>


{{!-- USER ANSWER --}}
  <div class="user-answer">
    <form action="/admin/answer" method="POST" enctype="multipart/form-data">
      <p class="text-center"><strong>Nuova risposta</strong></p>

      <input class="user-id-input" hidden value={{ticket._id}} name="_id">
      <input class="user-id-input" hidden value={{ticket.user.email}} name="email">
      <input class="user-id-input" hidden value={{ticket.title}} name="title">

      <textarea name="message" placeholder="Messaggio*"></textarea>
      <input type="text" name="name" placeholder="Nome file">
      
      <input type="file" name="photo">
      <button class="btn btn-success">Add answer</button>
    </form>
  </div>
</section>

{{log this}}
