admin page

{{admin}}



{{#each tickets}}
 {{#if active}}

 <p>{{title}}</p>
  <a href=/admin/tickets/{{id}}>View ticket</a>
  <strong>this ticket need answer</strong>
 <form action="/admin/active-false" method="POST">
  <input type="text" value={{_id}} name="_id">
  <button type="submit">make active false</button>
 </form>
 
 {{else}}

  <p>{{title}}</p>
  <a href=/admin/tickets/{{id}}>View ticket</a>
  <strong>Ticket ok</strong>

 {{/if}}
{{/each}}



