{{> headerUser}}

{{#if tickets}}

<section class="tickets-page container box-shadow">
<form action="/active-tickets" method="GET">
    <button class="btn" type="submit">Tickets aperti</button>
  </form>
  <h1 class="text-center">{{user.username}}'s  tickets</h1>

  <table>
    <thead>
      <th>Titolo</th>
      <th>Data</th>
      <th>Stato</th>
      <th></th>
    </thead>
    <tbody>
      {{#each tickets}}
      <div class="private-container">
        <tr>
          <td> <a href="/tickets/{{id}}">
              <h3>{{title}}</h3>
            </a></td>
          <td>
            <p class="date-tickets-table">{{time}}</p>
          </td>
          <td> {{#if active}}
            <p class="text-success">Aperto</p>
            {{else}}
            <p class="text-danger">Chiuso</p>
            {{/if}}</td>
          <td><a class="view-ticket btn btn-primary" href="/tickets/{{id}}">View ticket</a> </td>
        </tr>
      </div>
      {{/each}}
    </tbody>
  </table>

  {{else}}
<div class="container text-center no-ticket-open">
  <p>Ciao <strong>{{user.username}}</strong>, non c'è ancora nessun ticket aperto. <a href="/submit">Apri il pirmo ticket</a></p>
</div>
{{/if}}


</section>

{{>footerUser}}



{{!-- {{log this}} --}}