
{{!-- values.[0] = user --}}
{{!-- values.[1] = ticket --}}

<h2>{{values.[1].title}}</h2>
<hr>
<strong>{{values.[0].username}}</strong><p>{{values.[1].message}}</p>
<p>{{values.[1].time}}</p>
<img src="{{ values.[1].picture.path }}" width="150px"></img>


<hr>
{{#each values.[1].answers}}
 <strong>{{username}}</strong><span>{{time}}</span>
  <p>{{message}}</p> 

{{/each}}
<hr>


<form action="/answer" method="POST">
answer
<input hidden value={{values.[1]._id}} name="_id">

<input type="text" name="message">
<button>Add answer</button>
</form>








