{{!-- values.[0] = user --}}
{{!-- values.[1] = ticket --}}
{{>headerUser}}

<section class="container box-shadow user-ticket-page">

  <h1 class="text-center">{{values.[1].title}}</h1>
  <hr>
  <div class="user-ticket-container">
    <p><strong>{{values.[0].username}}</strong></p>
    <span>{{values.[1].time}}</span>
    <p>{{values.[1].message}}</p>

    {{#if values.[1].picture.path}}
    <a href="{{ values.[1].picture.path }}" download>
      <img src="{{ values.[1].picture.path }}" width="150">
    </a>
    {{/if}}

    <hr>
    {{!-- ANSWERS --}}
    {{#each values.[1].answers}}
    <p><strong>{{username}}</strong></p><span>{{time}}</span>
    <p>{{message}}</p>

    {{#if picture.path}}
     <a href="{{ picture.path }}" download>
      <img src="{{ picture.path }}" width="150">
    </a>
    <p>{{picture.name}}</p>
    {{/if}}
    <hr>

    {{/each}}
  </div>
  <hr>

{{!-- USER ANSWER --}}
  <div class="user-answer">
    <form action="/answer" method="POST" enctype="multipart/form-data">
      <p class="text-center"><strong>Nuova risposta</strong></p>
      <input class="user-id-input" hidden value={{values.[1]._id}} name="_id">
      {{!-- <input type="text" name="message" placeholder="message"> --}}
      <textarea name="message" placeholder="Messaggio*"></textarea>
      <input type="text" name="name" placeholder="Nome file">
      
      <input type="file" name="photo">
      <button class="btn btn-success">Add answer</button>
    </form>
  </div>
</section>

{{> footerUser}}